@import "tailwindcss";

:root {
  --background: #070116;
  --foreground: #f5f5ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070116;
    --foreground: #f5f5ff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .hero-background {
    background-image: var(--hero-bg-mobile);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    .hero-background {
      background-image: var(--hero-bg-desktop);
    }
  }
}
